{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [">0.2%", "not dead", "not op_mini all"]
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "corejs": 3
    }]
  ]
} 